
@font-face {
    font-family: myCalculatorFont;
    src: url(CursedTimerUlil-Aznm.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap');

body
{
    font-family: Poppins;
}


/* Point game styles */
.game-card
{
    width: 600px;
    min-height: 60vh;
    background-color: #325;
    color: #cfcfcf;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.container
{
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
}
.team-card
{
    margin: 0%;
    padding: 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
.card-title
{
    text-align: center;
    font-weight: 800;
    letter-spacing: 3px;
}
.score-display
{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #233;
    
    font-size: 3rem;
    margin: 0 auto;
}
#score1
{
    width: 90px;
    background-color: transparent;
    border: none;
    cursor: default;
    font-size: 3rem;
    color: #fcfcfc;
    font-family: myCalculatorFont;
    text-align: center;
    padding: 0%;
}
#score1:focus
{
    border: none;
    outline: none;
}
#score2
{
    width: 90px;
    background-color: transparent;
    border: none;
    cursor: default;
    font-size: 3rem;
    color: #fcfcfc;
    font-family: myCalculatorFont;
    text-align: center;
    padding: 0%;
}
#score2:focus
{
    border: none;
    outline: none;
}

.btn-style
{
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 0.7rem;
    color: #fff;
    padding: 10px;
    margin: 25px 5px;

    box-shadow: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    position: relative;
    z-index: 25;
}
.btn-style:hover
{
    background-color: #fcfcfc;
    color: #325;
}

  
  .btn-style:active {
    border:  solid 1px #325;
    transition: all 0.3s ease-out;
  }

  /* Blackjack game cards */

  .hidden
  {
    visibility: hidden;
  }
  
  .blackjack-container
  {
    padding: 25px;
    margin: 0 auto;
    width: 600px;
    min-height: 70vh;
    background-color: #cfcfcf;
    color: #325;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
  }

  #blackjack-rule-card
  {
    width: 70%;
    height: auto;
    margin: 20px auto;
    font-size: 0.6rem;
    border: solid 1px #233;
    border-radius: 15px;
    padding: 20px;
    background-color: #fcfcfc;
  }

  #game-option-card
  {
    background-color: #fcfcfc;
    width: 90%;
    height: auto;
    padding: 20px;
    margin: 0px auto;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
.btn-startgame
{
    background-color: #009f2d;
    color: #fff;
    outline: none;
    border: none;
    padding: 9px 30px;
    border-radius: 15px;
    cursor: pointer;
}
.btn-startgame:hover
{
    background-color: #01b734;
    color: rgb(0, 37, 73);
    outline: solid 1px #01b734;
    cursor: pointer;
    box-shadow: 1px 3px 3px grey;
    transition: all 0.1s ease-in;
}
.btn-startgame:active
{
    outline: none;
    cursor: pointer;
    box-shadow: none;
    color: #fff;
}
.btn-endgame
{
    background-color: #c53912;
    color: #fff;
    outline: none;
    border: none;
    padding: 9px 30px;
    border-radius: 15px;
    cursor: pointer;
}
.btn-endgame:hover
{
    background-color: #ff2020;
    color: rgb(0, 37, 73);
    outline: solid 1px #b70101;
    cursor: pointer;
    box-shadow: 1px 3px 3px grey;
    transition: all 0.1s ease-in;
}
.btn-endgame:active
{
    outline: none;
    cursor: pointer;
    color: #fff;
    
}

  #blackjack-card
  {
    padding: 20px;
    margin: 0px auto;
    width: 90%;
    border: none;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .point-card
  {
    border:  solid 1px #233;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
  }

  #user-option-card
  {
    width: 90%;
    height: 60px;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 0px 15px 15px;
  }
  .btn-place-bet
  {
    background-color: #1266c5;
    color: #fff;
    outline: none;
    border: none;
    padding: 9px 30px;
    border-radius: 15px;
    cursor: pointer;
  }
  .btn-place-bet:hover
{
    background-color: #2181ef;
    outline: solid 1px #2181ef;
    cursor: pointer;
    box-shadow: 1px 3px 3px grey;
    transition: all 0.1s ease-in;
}
.btn-place-bet:active
{
    box-shadow: none;
    cursor: pointer;
    color: #fff;
    
}

  .btn-pass-chance
  {
    background-color: #51c512;
    color: #fff;
    outline: none;
    border: none;
    padding: 9px 30px;
    border-radius: 15px;
    cursor: pointer;
  }
  .btn-pass-chance:hover
{
    background-color: #5de116;
    cursor: pointer;
    box-shadow: 1px 3px 3px grey;
    transition: all 0.1s ease-in;
}
.btn-pass-chance:active
{
    box-shadow: none;
    cursor: pointer;
    color: #fff;
    
}

  .btn-drop-game
  {
    background-color: #c57112;
    color: #fff;
    outline: none;
    border: none;
    padding: 9px 30px;
    border-radius: 15px;
    cursor: pointer;
  }
  .btn-drop-game:hover
{
    background-color: #d87d14;
    cursor: pointer;
    box-shadow: 1px 3px 3px grey;
    transition: all 0.1s ease-in;
}
.btn-drop-game:active
{
    box-shadow: none;
    cursor: pointer;
    color: #fff;
    
}